[Desktop Entry]
Name=There is Rain on the Table
Name[ar]=هناك مطر على الطاولة
Name[be@latin]=Nastolny doždž
Name[bg]=Дъжд върху масата
Name[ca]=Hi ha pluja a la taula
Name[ca@valencia]=Hi ha pluja a la taula
Name[cs]=Prší na stůl
Name[csb]=To je dészcz na tôflë
Name[da]=There is Rain on the Table
Name[de]=Frischer Regen
Name[el]=Βροχή στο τραπέζι
Name[en_GB]=There is Rain on the Table
Name[eo]=Pluvo sur la tablo
Name[es]=Hay lluvia en la mesa
Name[et]=Vihmapiisad laual
Name[eu]=Bada euria mahaian
Name[fi]=Vesisade yllätti pöydän
Name[fr]=Il pleut sur la table
Name[fy]=Der is rijn op de tafel
Name[ga]=There is Rain on the Table
Name[gl]=Hai chuvia na mesa
Name[gu]=અહીં ટેબલ પર વરસાદ છે
Name[hi]=टेबल में वहां बरसात है
Name[hne]=टेबल मं बरसात
Name[hr]=Kiša na stolu
Name[hu]=Esőcseppek az asztalon
Name[is]=Regndropar á borðinu
Name[it]=C'è pioggia sul tavolo
Name[ja]=テーブルの上の雨
Name[kk]=Үстелдегі жаңбыр
Name[km]=មាន​ដំណក់ទឹក​ភ្លៀង​លើ​តុ
Name[kn]=ಮೇಜಿನ ಮೇಲೆ ಮಳೆ
Name[ko]=탁자 위에 오는 비
Name[ku]=Di Masê de Baran
Name[lt]=Lyja ant stalo
Name[lv]=Lietus uz galda
Name[mai]=टेबलमे ओतए बरसात अछि
Name[mk]=Има дожд на масата
Name[ml]=മേശപ്പുറത്തു് മഴ
Name[nb]=Det regner på bordet
Name[nds]=Regendrüppels op den Disch
Name[nl]=Het regent op de tafel
Name[nn]=Det fell regn på bordet
Name[or]=ଟେବଲ ଉପରେ ବର୍ଷା ହେଉଅଛି
Name[pa]=ਮੇਜ਼ ਉੱਤੇ ਮੀਂਹ ਦੀਆਂ ਕਣੀਆਂ
Name[pl]=Deszcz na stole
Name[pt]=Está a Chover na Mesa
Name[pt_BR]=Chuva na mesa
Name[ro]=Plouă pe masă
Name[ru]=Капли дождя
Name[sk]=Dážď na stole
Name[sl]=Na mizi je dež
Name[sr]=Кишница на клупи
Name[sr@latin]=Kišnica na klupi
Name[sv]=Det är regn på bordet
Name[ta]=There is Rain on the Table
Name[te]=టేబుల్ పైన వవర్షమువుంది
Name[tg]=Дождь на столе
Name[th]=หยาดน้ำฝนบนพื้นโต๊ะ
Name[tr]=Masanın Üzerindeki Yağmur Damlaları
Name[uk]=Дощ на столі
Name[wa]=I plout sol tåve
Name[x-test]=xxThere is Rain on the Tablexx
Name[zh_CN]=雨打浮凳
Name[zh_TW]=There is Rain on the Table
X-KDE-PluginInfo-Name=There_is_Rain_on_the_Table
X-KDE-PluginInfo-Author=Riccardo Iaconelli
X-KDE-PluginInfo-Email=riccardo@kde.org
X-KDE-PluginInfo-License=LGPLv3
