[Desktop Entry]
Name=Atra Dot
Name[ca]=Atra Dot
Name[da]=Atra Dot
Name[de]=Atra Dot
Name[en_GB]=Atra Dot
Name[es]=Atra Dot
Name[et]=Atra Dot
Name[fr]=Atra Dot
Name[hr]=Atra Dot
Name[hu]=Atra Dot
Name[is]=Atra Dot
Name[it]=Atra Dot
Name[lv]=Atra Dot
Name[nb]=Altra Dot
Name[nds]=Atra Dot
Name[nl]=Altra Dot
Name[nn]=Atra-prikk
Name[pt]=Atra Dot
Name[pt_BR]=Atra Dot
Name[sk]=Atra Dot
Name[sl]=Atra Dot
Name[sr]=Атра тачка
Name[sr@latin]=Atra tačka
Name[sv]=Atra punkt
Name[tr]=Atra Dot
Name[uk]=Точка Атра
Name[x-test]=xxAtra Dotxx
Name[zh_CN]=圆波
Name[zh_TW]=Atra Dot

X-KDE-PluginInfo-Name=Atra Dot
X-KDE-PluginInfo-Author=Eugene Trounev [it-s]
X-KDE-PluginInfo-Email=eugene.trouenv@gmail.com
X-KDE-PluginInfo-License=LGPLv3
