[Desktop Entry]
Name=Evening
Name[ar]=المساء
Name[bn_IN]=বিকেল
Name[ca]=Vespre
Name[cs]=Večer
Name[da]=Aften
Name[de]=Abend
Name[el]=Απόγευμα
Name[en_GB]=Evening
Name[es]=Tarde
Name[et]=Õhtu
Name[fr]=Soirée
Name[fy]=Jun
Name[gl]=Serán
Name[hi]=शाम
Name[hr]=Večer
Name[hu]=Este
Name[is]=Kvöld
Name[it]=Sera
Name[ja]=夕べ
Name[km]=ល្ងាច
Name[kn]=ಸಂಜೆ
Name[lt]=Vakaras
Name[lv]=Vakars
Name[mai]=शाम
Name[mk]=Вечер
Name[nb]=Kveld
Name[nds]=Avend
Name[nl]=Avond
Name[nn]=Kveld
Name[pa]=ਆਥਣ
Name[pl]=Popołudnie
Name[pt]=Fim de Tarde
Name[pt_BR]=Fim de tarde
Name[ro]=Seară
Name[ru]=Вечер
Name[sk]=Večer
Name[sl]=Večer
Name[sr]=Вече
Name[sr@latin]=Veče
Name[sv]=Kväll
Name[tg]=Бенин
Name[tr]=Akşam
Name[uk]=Вечір
Name[wa]=Swer
Name[x-test]=xxEveningxx
Name[zh_CN]=黄昏
Name[zh_TW]=傍晚

X-KDE-PluginInfo-Name=Evening
X-KDE-PluginInfo-Author=Christoph Kummer
X-KDE-PluginInfo-Email=christoph@traeumt.net
X-KDE-PluginInfo-License=LGPLv3
