[Desktop Entry]
Name=Air
Name[ar]=هواء
Name[bg]=Въздух
Name[bn]=এয়ার
Name[bn_IN]=বাতাস
Name[ca]=Air
Name[ca@valencia]=Air
Name[cs]=Vzduch
Name[csb]=Air
Name[da]=Air
Name[de]=Air
Name[el]=Αέρας
Name[en_GB]=Air
Name[es]=Aire
Name[et]=Air
Name[eu]=Airea
Name[fr]=Air
Name[fy]=Air
Name[ga]=Air
Name[gl]=Aire
Name[gu]=હવા
Name[he]=אוויר
Name[hi]=Air
Name[hr]=Zrak
Name[hu]=Levegő
Name[is]=Loft
Name[it]=Aria
Name[ja]=大気
Name[kk]=Ауа
Name[km]=ខ្យល់
Name[kn]=ಗಾಳಿ
Name[ko]=공기
Name[ku]=Hewa
Name[lt]=Oras
Name[lv]=Gaiss
Name[mai]=हवा
Name[mk]=Небо
Name[ml]=എയര്‍
Name[mr]=Air
Name[nb]=Luft
Name[nds]=Luft
Name[nl]=Air
Name[nn]=Luft
Name[or]=ବାୟୁ
Name[pa]=ਏਅਰ
Name[pl]=Air
Name[pt]=Air
Name[pt_BR]=Ar
Name[ro]=Aer
Name[ru]=Air
Name[sk]=Vzduch
Name[sl]=Zrak
Name[sr]=Ваздух
Name[sr@latin]=Vazduh
Name[sv]=Luft
Name[ta]=Air
Name[tg]=Ҳаво
Name[th]=Air
Name[tr]=Air
Name[uk]=Повітря
Name[wa]=Air
Name[x-test]=xxAirxx
Name[zh_CN]=空气
Name[zh_TW]=Air

X-KDE-PluginInfo-Name=Air
X-KDE-PluginInfo-Author=Nuno Pinheiro
X-KDE-PluginInfo-Email=nuno@oxygen-icons.org
X-KDE-PluginInfo-License=LGPLv3
