[Desktop Entry]
Name=The Rings of Saturn
Name[ar]=حلقات زحل
Name[ca]=Els anells de Saturn
Name[cs]=Prstence Saturnu
Name[da]=The Rings of Saturn
Name[de]=Die Ringe des Saturn
Name[el]=Οι δακτύλιοι του Κρόνου
Name[en_GB]=The Rings of Saturn
Name[es]=Anillos de Saturno
Name[et]=Saturni rõngad
Name[fr]=Les anneaux de Saturne
Name[fy]=De ring fan saturnus
Name[gl]=Os aneis de Saturno
Name[hr]=Saturnovi prstenovi
Name[hu]=A Szaturnusz gyűrűi
Name[is]=Hringir Satúrnusar
Name[it]=Anelli di Saturno
Name[ja]=土星の輪
Name[km]=The Rings of Saturn
Name[kn]=ಶನಿಯ ಉಂಗುರಗಳು
Name[lv]=Saturna gredzeni
Name[mai]=शनिक छल्ला
Name[mk]=Прстените на Сатурн
Name[nb]=Saturns ringer
Name[nds]=Den Saturn sien Krinken
Name[nl]=De ringen van Saturnus
Name[nn]=Saturnringar
Name[pa]=ਸ਼ਨੀ ਦੇ ਛੱਲੇ
Name[pl]=Pierścienie Saturna
Name[pt]=Os Anéis de Saturno
Name[pt_BR]=Os anéis de Saturno
Name[ro]=Inelele lui Saturn
Name[ru]=Кольца сатурна
Name[sk]=Prstence Saturnu
Name[sl]=Saturnovi prstani
Name[sr]=Прстенови Сатурна
Name[sr@latin]=Prstenovi Saturna
Name[sv]=Saturnus ringar
Name[tr]=Satürn'ün Çemberleri
Name[uk]=Кільця Сатурна
Name[wa]=Les aneas d' Satûne
Name[x-test]=xxThe Rings of Saturnxx
Name[zh_CN]=土星光环
Name[zh_TW]=土星之環

X-KDE-PluginInfo-Name=The_Rings_of_Saturn
X-KDE-PluginInfo-Author=Zoltan Vass
X-KDE-PluginInfo-Email=loksi67@hotmail.com
X-KDE-PluginInfo-License=LGPLv3
