[Desktop Entry]
Name=Curls on Green
Name[ar]=الظفائر الخضراء
Name[be@latin]=Kołcy na zialonym
Name[bg]=Зелени букли
Name[bn_IN]=সবুজের ঘূর্ণি
Name[ca]=Rínxols en verd
Name[ca@valencia]=Rínxols en verd
Name[cs]=Kadeře zeleně
Name[da]=Curls on Green
Name[de]=Grün gezwirbelt
Name[el]=Μπούκλες σε πράσινο
Name[en_GB]=Curls on Green
Name[eo]=Bukloj sur verda
Name[es]=Rizos en verde
Name[et]=Lokid aasal
Name[eu]=Kizkur berdeak
Name[fi]=Vihreät kutrit
Name[fr]=Courbes végétales
Name[fy]=Curls op grien
Name[ga]=Curls on Green
Name[gl]=Curvas no Green
Name[gu]=લીલા વમળો
Name[hi]=घुंघराला हरा
Name[hne]=घुंघराला हरा
Name[hr]=Uvojci na zelenom
Name[hu]=Zöld fodrok
Name[is]=Krullur á grænu
Name[it]=Riccioli su verde
Name[ja]=緑のカール
Name[kk]=Жасылдағы шиыршық
Name[km]=ខ្សែកោង​បៃតង
Name[kn]=ಹಸುರಿನ ಮೇಲೆ ಸುರುಳುಗಳು
Name[ko]=녹색 휘어짐
Name[ku]=Keska Tewiyayî
Name[lt]=Curls on Green
Name[lv]=Zaļās sprogas
Name[mai]=घुंघराला हरिअर पर
Name[mk]=Зелени прамени
Name[ml]=പച്ചച്ചുരുളുകള്‍
Name[nb]=Krøller på grønt
Name[nds]=Gröön Locken
Name[nl]=Curls on Green
Name[nn]=Krøllar på grønt
Name[or]=ସବୁଜ ରଙ୍ଗରେ ଭାଙ୍ଗ
Name[pa]=ਹਰਿਆਲੀ ਦੇ ਕਲਾਵੇ
Name[pl]=Zawijasy na zielonym
Name[pt]=Caracóis sobre Verde
Name[pt_BR]=Espirais em verde
Name[ro]=Bucle pe verde
Name[ru]=Папоротник
Name[sk]=Zelené krivky
Name[sl]=Kodri na zelenem
Name[sr]=Локнице у зеленилу
Name[sr@latin]=Loknice u zelenilu
Name[sv]=Gröna krökningar
Name[ta]=Curls on Green
Name[te]=పచ్చపై కర్‍ల్స్‌
Name[tg]=Завитки на зелёном
Name[th]=เกลียวสีเขียว
Name[tr]=Yeşil Üzerinde Kıvrımlar
Name[uk]=Завитки на зеленому
Name[wa]=Croles sol vete
Name[x-test]=xxCurls on Greenxx
Name[zh_CN]=螺旋碧叶
Name[zh_TW]=Curls on Green
X-KDE-PluginInfo-Name=Curls_on_Green
X-KDE-PluginInfo-Author=Joseph Connors
X-KDE-PluginInfo-Email=josephconnors@usa.net
X-KDE-PluginInfo-License=LGPLv3
