[Desktop Entry]
Name=Aghi
Name[ar]=Aghi
Name[bn_IN]=Aghi
Name[ca]=Aghi
Name[cs]=Aghi
Name[da]=Aghi
Name[de]=Aghi
Name[el]=Aghi
Name[en_GB]=Aghi
Name[es]=Aghi
Name[et]=Aghi
Name[fr]=Aghi
Name[fy]=Aghi
Name[gl]=Aghi
Name[hr]=Aghi
Name[hu]=Aghi
Name[is]=Aghi
Name[it]=Aghi
Name[ja]=Aghi
Name[km]=Aghi
Name[kn]=ಅಘಿ
Name[lv]=Aghi
Name[mai]=अघी
Name[mr]=Aghi
Name[nb]=Aghi
Name[nds]=Aghi
Name[nl]=Aghi
Name[nn]=Aghi
Name[pa]=ਅਘੀ
Name[pl]=Aghi
Name[pt]=Aghi
Name[pt_BR]=Aghi
Name[ro]=Aghi
Name[sk]=Aghi
Name[sl]=Iglice
Name[sr]=Аги
Name[sr@latin]=Agi
Name[sv]=Aghi
Name[tg]=Aghi
Name[tr]=Aghi
Name[uk]=Агі
Name[wa]=Aghi
Name[x-test]=xxAghixx
Name[zh_CN]=雨后针叶
Name[zh_TW]=Aghi

X-KDE-PluginInfo-Name=Aghi
X-KDE-PluginInfo-Author=Matteo Nobile
X-KDE-PluginInfo-Email=matteo.nobile@hispeed.ch
X-KDE-PluginInfo-License=LGPLv3
